## Classwork Week 4

Please submit these answers as a notebook in a direct message on Slack to Yu Chen and Rajat Gaur. Please include all members of your group in the tagged message.


## Example Search Engine Query

There are four products in your store's inventory:

Stopwords: `and`, `or`

* Product A: `red satin and velvet hat`
* Product B: `red or blue t-shirt and hat`
* Product C: `t-shirt and hat`
* Product D: `blue hat and velvet shoes`

Assume that we lemmatize each token (ie. `shoes` -> `shoe`).

1. After performing count vectorization on the dataset, list all of the distinct features. Assume a **unigram language model**.

2. What is the shape of your feature matrix (dataframe)?

3. Which **pair of products are the MOST similar**? Use cosine similarity to perform your calculation.

4. A user searches for the term `blue shoes`. Write out what this search query would look like as a numeric vector.

5. Construct the transition matrix for this dataset (the 4 products). Do not perform any stopword removal. You can just create this in Excel and attach it as a CSV file.

6. Using this transition matrix, calculate the probability of $p(x_{i+1} = "hat" | x_{i} = "and")$

In [6]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()


lst = ['red satin and velvet hat', 'red or blue t-shirt and hat',
       't-shirt and hat', 'blue hat and velvet shoes']

stopwords = set(['and','or'])

new_lines = []
for line in lst:
    d = []
    for word in line.split():
        if word not in stopwords:
            d.append(lemmatizer.lemmatize(word))
    new_line = ' '.join(d)
    new_lines.append(new_line)
new_lines

['red satin velvet hat',
 'red blue t-shirt hat',
 't-shirt hat',
 'blue hat velvet shoe']

In [38]:
vectorizer = CountVectorizer(ngram_range=(1,1))
X = vectorizer.fit_transform(new_lines)

df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
df

   blue  hat  red  satin  shirt  shoe  velvet
0     0    1    1      1      0     0       1
1     1    1    1      0      1     0       0
2     0    1    0      0      1     0       0
3     1    1    0      0      0     1       1

In [27]:
df.shape

(4, 7)

In [28]:
from numpy import dot
from numpy.linalg import norm

# cos_sim = dot(a, b)/(norm(a)*norm(b))

In [34]:
df2 = pd.DataFrame(columns = [1,2,3,4], index = [1,2,3,4])

In [35]:
df2

     1    2    3    4
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN

In [39]:
for i in range(4):
    for j in range(4):
        a = df.iloc[i,:].values
        b = df.iloc[j,:].values
        if i!=j:
            cos_sim = dot(a, b)/(norm(a)*norm(b))
            df2.iloc[i,j] = cos_sim
            print(i, j, cos_sim)

0 1 0.5
0 2 0.35355339059327373
0 3 0.5
1 0 0.5
1 2 0.7071067811865475
1 3 0.5
2 0 0.35355339059327373
2 1 0.7071067811865475
2 3 0.35355339059327373
3 0 0.5
3 1 0.5
3 2 0.35355339059327373

In [41]:
df2

          1         2         3         4
1       NaN       0.5  0.353553       0.5
2       0.5       NaN  0.707107       0.5
3  0.353553  0.707107       NaN  0.353553
4       0.5       0.5  0.353553       NaN

### The similarity between product B and C are the largest.

In [25]:
query=[1,0,0,0,0,1,0]